-
  const reviewFormContent = {
    title: {
      en: 'Your review',
      ru: 'Ваш отзыв',
    },
    ratingLabel: {
      en: 'Your Rating For This Product',
      ru: 'Ваша оценка этого продукта',
    },
    note: {
      en: 'Your email address will not be published. Required fields are marked *',
      ru: 'Ваш адрес электронной почты не будет опубликован. Обязательные поля отмечены *',
    },
    inputs: [
      {
        label: {
          en: 'Your Name*',
          ru: 'Ваше имя*',
        },
        name: 'name',
        type: 'text',
      },
      {
        label: {
          en: 'Your Email*',
          ru: 'Ваша почта*',
        },
        name: 'email',
        type: 'email',
      },
      {
        label: {
          en: 'Your Review*',
          ru: 'Ваш отзыв*',
        },
        name: 'message',
        type: 'textarea',
      },
      {
        label: {
          en: 'Save my name, email, and website in this browser for the next time I comment.',
          ru: 'Сохранить мое имя, адрес электронной почты и веб-сайт в этом браузере, чтобы я мог оставить комментарий в следующий раз.',
        },
        name: 'remember-me-checkbox',
        type: 'checkbox',
        svg: 'check'
      },
    ],
    submitButton: {
      en: 'Add review',
      ru: 'Добавить отзыв',
    },
  };

form.review-form(action='assets/php/reviews-form-handler.php', method='post')
  p.review-form__title= reviewFormContent.title[lang]
  p.review-form__rating-label= reviewFormContent.ratingLabel[lang] + ':'
    +ratingInput('review-rating', 'star', 5)
  p.review-form__note= reviewFormContent.note[lang]
  fieldset.review-form__fieldset
    each input in reviewFormContent.inputs
      +inputField(input.label[lang], input.name, input.type, input.label[lang], input.svg)
  +main-button(reviewFormContent.submitButton[lang])(alternate, class = 'review-form__submit-button', type='submit')