-
  const shopCategoryContent = {
    title: {en: 'Shop categories', ru: 'Категории магазина'},
    divider: {
      main: {en: 'What we offer', ru: 'Что мы предлагаем'},
      gap: {en: '•••••••••', ru: '•••••••••'},
    },
    button: {
      name: {en: 'All categories', ru: 'Все категории'},
      href: './error.html',
      },
  }

  const categoryList = [
    {
      name: {en: 'Bar soap', ru: 'Батонное мыло'},
      href: './services.html',
      image: [
        {path: '@image/common/special-image-1-560px.jpg', wDescriptor: 560},
        {path: '@image/common/special-image-1-280px.jpg', wDescriptor: 280},
      ],
    },
    {
      name: {en: 'Foaming wash', ru: 'Пенное мытье'},
      href: './services.html',
      image: [
        {path: '@image/common/special-image-2-560px.jpg', wDescriptor: 560},
        {path: '@image/common/special-image-2-280px.jpg', wDescriptor: 280},
      ],
    },
    {
      name: {en: 'Set of soap', ru: 'Набор мыла'},
      href: './services.html',
      image: [
        {path: '@image/common/special-image-3-560px.jpg', wDescriptor: 560},
        {path: '@image/common/special-image-3-280px.jpg', wDescriptor: 280},
      ],
    },
    {
      name: {en: 'Shower gel', ru: 'Гель для душа'},
      href: './services.html',
      image: [
        {path: '@image/common/special-image-4-560px.jpg', wDescriptor: 560},
        {path: '@image/common/special-image-4-280px.jpg', wDescriptor: 280},
      ],
    },
  ];

  const shopCategorySpecialImagelazySizesSet = [
    {
      srcset: [
        {path: '@image/common/special-image-1-1-560px.jpg', wDescriptor: 560},
        {path: '@image/common/special-image-1-1-280px.jpg', wDescriptor: 280},
      ]
    },
    {
      srcset: [
        {path: '@image/common/special-image-1-2-280px.jpg', wDescriptor: 280},
        {path: '@image/common/special-image-1-2-140px.jpg', wDescriptor: 140},
      ]
    },
  ];

section.section.shop-category-widget.full-width
  h2.section__title.visually-hidden= shopCategoryContent.title[lang]
  +text-divider(shopCategoryContent.divider.main[lang], shopCategoryContent.divider.gap[lang])(class = 'text-divider--compact shop-category-widget__decorative-text-row full-width')
  .shop-category-widget__content.breakout.content-grid-cancel
    .shop-category-widget__special-image-wrapper
      +image-decorative-special(shopCategorySpecialImagelazySizesSet)(flipped, reversed)
    ul.shop-category-widget__category-list-column
      each item in categoryList
        li.item.shop-category-widget__link-item 
          a.link.item.shop-category-widget__link(href= item.href)= item.name[lang]
            +sprite('long-arrow')
    ul.shop-category-widget__category-image-column
      each item in categoryList
        - const srcsetString = item.image.map((value) => `${require(value.path)} ${value.wDescriptor}w`).join(', ');

        li.shop-category-widget__category-decorative-image.lazyload(data-bgset = srcsetString, data-sizes = 'auto')
    +main-button-arrow(shopCategoryContent.button.name[lang])(alternate, href = shopCategoryContent.button.href, class = 'shop-category-widget__button')