- locals.mock = require('../../../assets/js/helpers/mock');
-
  const currencySymbol = {en: '$', ru: '₽'};
  const USDtoRUBRate = 70;
  const media = [
      {viewport: 380, imageCount: 1, widthOffset: 0},
      {viewport: 768, imageCount: 2, widthOffset: -40},
      {viewport: 1200, imageCount: 4, widthOffset: -120},
    ];
  const productDataDateShift = { month: 2, day: 20 };

  const shopProductMockData = {
    details: {
      en: `Crafted with coconut oil to help lock in moisture, so skin never feels dry or stripped. 
      Unlike other soaps, our unique blend of coconut oil + clay is soothing to dry, red, irritated skin without any compromise on the scent. 
      It’s ok if you do a happy dance. We do too because we have soft, smooth, hydrated skin and smell elegant.`,
      ru: `Содержит кокосовое масло, которое помогает удерживать влагу, поэтому кожа никогда не становится сухой или шелушащейся. 
      В отличие от других мыл, наша уникальная смесь кокосового масла и глины успокаивает сухую, покрасневшую и раздраженную кожу без ущерба для аромата. 
      Ничего страшного, если вы танцуете счастливый танец. Мы тоже, потому что у нас мягкая, гладкая, увлажненная кожа и элегантный запах.`,
    },
    description: [
      {
        en: `Keep your shampoo, body wash, and other bottles high and dry. We love these because they prevent those grungy rings that get left, 
        leaving you scrubbing off your shower shelves! Let your razor, toothbrush, and jewelry dry without leaving residue behind. It is made of 
        multi-directional bioplastic that allows water to drain and air to circulate. Cleans remarkably well by simply rinsing under running 
        water and giving it a few squeezes.`,
        ru: `Держите шампунь, гель для душа и другие бутылки в сухом месте. Нам они нравятся, потому что они предотвращают появление шероховатых колец, 
        которые заставляют вас оттирать полочки в душе! Дайте бритве, зубной щетке и украшениям высохнуть, не оставляя следов. Он изготовлен из разнонаправленного 
        биопластика, который позволяет воде стекать и циркулировать воздуху. Замечательно очищает, если просто промыть под проточной водой и несколько раз отжать.`,
      },
      {
        en: `Don’t let your soap turn into muck! Soap Lift is made of a multi-directional bioplastic that allows water to drain and air to circulate. 
        They can be used in soap dishes, on shower shelves, or on countertops. Cleans remarkably well by simply holding it under running water and giving it a few squeezes.`,
        ru: `Не позволяйте вашему мылу превратиться в грязь! Soap Lift изготовлен из разнонаправленного биопластика, который позволяет воде стекать и воздуху циркулировать. 
        Их можно использовать в мыльницах, на душевых полочках или на столешницах. Прекрасно очищает, если просто подержать его под проточной водой и несколько раз сжать.`,
      },
    ],
    primaryMeta: [
      {
        term: {
          en: 'Ingredients',
          ru: 'Ингридиенты',
        },
        description: {
          en: 'Coconut Oil, Palm Oil, Safflower Oil, Kosher Vegetable Glycerine, Purified Water, Sodium Hydroxide, Sorbitol, Sorbitan Oleate, Soy Bean Protein.',
          ru: 'Кокосовое масло, пальмовое масло, сафлоровое масло, кошерный растительный глицерин, очищенная вода, гидроксид натрия, сорбит, олеат сорбитана, протеин соевых бобов.',
        },
      }
    ],
    secondaryMeta: [
      {
        term: {
          en: 'SKU',
          ru: 'Артикул',
        },
        description: '123456789-3',
      },
      {
        term: {
          en: 'Tags',
          ru: 'Теги',
        },
        description: [
          {
            en: 'candle',
            ru: 'свеча',
          },
          {
            en: 'handmade',
            ru: 'ручная работа',
          },
          {
            en: 'ideas',
            ru: 'идеи',
          },
        ],
      },
    ],
    properties: [
      {
        term: {
          en: 'Size',
          ru: 'Размер',
        },
        description: {
          en: 'S, M, L',
          ru: 'S, M, L',
        },
      },
      {
        term: {
          en: 'Eco package',
          ru: 'Экологичная упаковка',
        },
        description: {
          en: 'Paper Bag, Cardboard Box, Wooden Box',
          ru: 'Бумажный пакет, картонная коробка, деревянная коробка',
        },
      },
    ],
    reviews: [
      {
        date: locals.mock.getRandomDateFromCurrent(productDataDateShift, 'shiftBefore'),
        //- date: 'kghfjgh',
        author: {
          name: {
            en: 'David Parker',
            ru: 'Иван Иванов'
          },
          avatar: '@image/content/user-1.jpeg',
          alt: {
            en: 'user photo',
            ru: 'фото пользователя',
          }
        },
        rating: 4,
        comment: {
          en: `Good stuff.`,
          ru: `Хорошие вещи`,
        },
      },
      {
        date: locals.mock.getRandomDateFromCurrent(productDataDateShift, 'shiftBefore'),
        //- date: 'kghfjgh',
        author: {
          name: {
            en: 'Harry Olson',
            ru: 'Петр Петрович'
          },
          avatar: '@image/content/user-2.jpeg',
          alt: {
            en: 'user photo',
            ru: 'фото пользователя',
          }
        },
        rating: 5,
        comment: {
          en: `Good stuff`,
          ru: `Хорошие вещи`,
        },
      },
    ]
  };

  const shopProductData = [
    {
      name: {en: 'Natural aloe bath bomb', ru: 'Натуральная бомбочка для ванны с алоэ'},
      rating: 4,
      basePrice: 6,
      currentPrice: 6,
      ...shopProductMockData,
      //- href: './natural-aloe-bath-bomb.html',
      href: './error.html',
      category: [{en: 'Handmade bomb', ru: 'Бомбочка для ванны'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-1-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-1-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-1-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-1-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-1-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-1-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-1-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-1-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-1-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-1-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-1-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-1-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-1-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-1-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-1-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-1-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-1-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-1-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-1-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-1-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-1-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-1-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Bergamot bar soap', ru: 'Мыло Бергамот'},
      rating: 4.2,
      basePrice: 9,
      currentPrice: 9,
      ...shopProductMockData,
      //- href: './bergamot-bar-soap.html',
      href: './error.html',
      category: [{en: 'Handmade soap', ru: 'Мыло ручной работы'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-2-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-2-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-2-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-2-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-2-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-2-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-2-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-2-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-2-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-2-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-2-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-2-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-2-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-2-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-2-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-2-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-2-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-2-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-2-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-2-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-2-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-2-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Coconut bar soap', ru: 'Кокосовое мыло'},
      rating: 5,
      basePrice: 10,
      currentPrice: 10,
      ...shopProductMockData,
      //- href: './coconut-bar-soap.html',
      href: './error.html',
      category: [{en: 'Handmade soap', ru: 'Мыло ручной работы'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-3-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-3-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-3-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-3-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-3-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-3-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-3-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-3-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-3-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-3-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-3-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-3-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-3-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-3-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-3-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-3-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-3-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-3-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-3-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-3-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-3-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-3-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Honey & cocoa bar soap', ru: 'Мыло с медом и какао'},
      rating: 4,
      basePrice: 10,
      currentPrice: 10,
      ...shopProductMockData,
      //- href: './coconut-bar-soap.html',
      href: './error.html',
      category: [{en: 'Handmade soap', ru: 'Мыло ручной работы'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-4-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-4-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-4-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-4-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-4-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-4-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-4-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-4-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-4-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-4-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-4-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-4-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-4-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-4-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-4-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-4-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-4-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-4-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-4-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-4-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-4-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-4-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Honey bar soap', ru: 'Медовое мыло'},
      rating: 4,
      basePrice: 7,
      currentPrice: 4,
      ...shopProductMockData,
      //- href: './honey-bar-soap.html',
      href: './error.html',
      category: [{en: 'Handmade soap', ru: 'Мыло ручной работы'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-5-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-5-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-5-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-5-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-5-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-5-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-5-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-5-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-5-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-5-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-5-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-5-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-5-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-5-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-5-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-5-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-5-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-5-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-5-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-5-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-5-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-5-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Lavender basil bar soap', ru: 'Мыло с лавандой и базиликом'},
      rating: 4.8,
      basePrice: 6,
      currentPrice: 6,
      ...shopProductMockData,
      //- href: './lavender-basil-bar-soap.html',
      href: './error.html',
      category: [{en: 'Handmade soap', ru: 'Мыло ручной работы'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-6-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-6-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-6-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-6-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-6-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-6-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-6-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-6-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-6-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-6-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-6-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-6-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-6-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-6-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-6-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-6-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-6-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-6-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-6-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-6-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-6-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-6-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Bubble candles', ru: 'Пузырьковые свечи'},
      rating: 2,
      basePrice: 20,
      currentPrice: 20,
      ...shopProductMockData,
      //- href: './bubble-candles.html',
      href: './error.html',
      category: ['Jewelry'],
      category: [{en: 'Candles', ru: 'Свечи'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-7-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-7-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-7-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-7-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-7-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-7-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-7-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-7-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-7-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-7-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-7-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-7-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-7-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-7-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-7-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-7-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-7-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-7-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-7-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-7-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-7-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-7-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Honey round candle', ru: 'Медовая круглая свеча'},
      rating: 4.5,
      basePrice: 30,
      currentPrice: 30,
      ...shopProductMockData,
      //- href: './honey-round-candle.html',
      href: './error.html',
      category: [{en: 'Candles', ru: 'Свечи'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-8-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-8-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-8-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-8-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-8-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-8-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-8-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-8-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-8-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-8-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-8-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-8-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-8-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-8-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-8-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-8-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-8-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-8-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-8-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-8-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-8-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-8-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Caramel soy candle', ru: 'Карамельная соевая свеча'},
      rating: 5,
      basePrice: 15,
      currentPrice: 15,
      ...shopProductMockData,
      //- href: './caramel-soy-candle.html',
      href: './error.html',
      category: [{en: 'Soy candles', ru: 'Соевые свечи'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-9-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-9-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-9-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-9-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-9-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-9-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-9-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-9-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-9-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-9-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-9-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-9-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-9-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-9-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-9-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-9-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-9-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-9-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-9-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-9-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-9-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-9-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Ginger soy candle', ru: 'Имбирная соевая свеча'},
      rating: 5,
      basePrice: 15,
      currentPrice: 15,
      ...shopProductMockData,
      //- href: './ginger-soy-candle.html',
      href: './error.html',
      category: [{en: 'Soy candles', ru: 'Соевые свечи'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-10-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-10-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-10-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-10-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-10-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-10-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-10-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-10-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-10-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-10-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-10-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-10-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-10-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-10-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-10-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-10-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-10-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-10-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-10-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-10-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-10-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-10-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Single wick candle', ru: 'Свеча с одним фитилем'},
      rating: 3.5,
      basePrice: 9,
      currentPrice: 9,
      ...shopProductMockData,
      //- href: './single-wick-candle.html',
      href: './error.html',
      category: [{en: 'Soy candles', ru: 'Соевые свечи'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-11-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-11-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-11-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-11-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-11-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-11-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-11-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-11-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-11-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-11-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-11-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-11-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-11-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-11-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-11-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-11-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-11-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-11-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-11-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-11-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-11-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-11-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
    {
      name: {en: 'Vanilla soy candle', ru: 'Ванильная соевая свеча'},
      rating: 5,
      basePrice: 15,
      currentPrice: 15,
      ...shopProductMockData,
      //- href: './vanilla-soy-candle.html',
      href: './error.html',
      category: [{en: 'Soy candles', ru: 'Соевые свечи'}],
      image: {
        media: media,
        srcset: [
          {path: '@image/content/product-12-1000px.jpg', wDescriptor: 1000},
          {path: '@image/content/product-12-690px.jpg', wDescriptor: 690},
          {path: '@image/content/product-12-560px.jpg', wDescriptor: 560},
          {path: '@image/content/product-12-450px.jpg', wDescriptor: 450},
          {path: '@image/content/product-12-370px.jpg', wDescriptor: 370},
          {path: '@image/content/product-12-340px.jpg', wDescriptor: 340},
          {path: '@image/content/product-12-265px.jpg', wDescriptor: 265},
          {path: '@image/content/product-12-240px.jpg', wDescriptor: 240},
          {path: '@image/content/product-12-160px.jpg', wDescriptor: 160},
          {path: '@image/content/product-12-120px.jpg', wDescriptor: 120},
          {path: '@image/content/product-12-78px.jpg', wDescriptor: 78},
        ],
        alt: 'Bath bomb',
      },
      restImages: [
        {
          media: media,
          srcset: [
            {path: '@image/content/product-12-1-1000px.jpg', wDescriptor: 1000},
            {path: '@image/content/product-12-1-690px.jpg', wDescriptor: 690},
            {path: '@image/content/product-12-1-560px.jpg', wDescriptor: 560},
            {path: '@image/content/product-12-1-450px.jpg', wDescriptor: 450},
            {path: '@image/content/product-12-1-370px.jpg', wDescriptor: 370},
            {path: '@image/content/product-12-1-340px.jpg', wDescriptor: 340},
            {path: '@image/content/product-12-1-265px.jpg', wDescriptor: 265},
            {path: '@image/content/product-12-1-240px.jpg', wDescriptor: 240},
            {path: '@image/content/product-12-1-160px.jpg', wDescriptor: 160},
            {path: '@image/content/product-12-1-120px.jpg', wDescriptor: 120},
            {path: '@image/content/product-12-1-78px.jpg', wDescriptor: 78},
          ],
          alt: 'Bath bomb',
        },
      ],
    },
  ];
