@use '../abstracts';

.page-footer {
  position: relative;
  z-index: 0;
  background-color: var(--brand-color-shadow);
  color: var(--brand-color-primary);

  &__columns {
    display: grid;
    gap: 14px;
    padding-block: 70px 60px;

    @include abstracts.cq-from(extra-large) {
      grid-template-columns: 1fr 50% 1fr;
      padding-block: 160px 110px;
    }
  }

  &__column {
    &:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include abstracts.cq-from(extra-large) {
        text-align: left;
        align-items: flex-start;
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include abstracts.cq-from(extra-large) {
        align-items: flex-end;
        text-align: right;
      }
    }
  }

  &__other-info {
    position: relative;
    z-index: 0;
    padding: 0 10%;
    text-align: center;
  }

  &__column-title {
    margin-bottom: 20px;
  }
  
  &__other-info &__column-title {
    visibility: hidden;
  }

  &__logo {
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: auto;
    width: 135px;
    height: 154px;
    transform: translateY(-60%);

    svg {
      opacity: 0.6;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 11px;
    text-align: center;

    .svg-icon {
      color: var(--brand-color-accent);
      flex-shrink: 0;
    }

    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;

      @include abstracts.cq-from(extra-large) {
        text-align: left;
        justify-content: flex-start;
      }
    }
  }

  &__table {
    text-align: right;

    th {
      display: none;
    }

    th, td {
      padding-block: 5px;
    }

    th:first-child,
    td:first-child {
      padding-right: 20px;
      color: var(--brand-color-accent);
    }
  }

  &__copyright {
    padding: 20px;
    border-top: 1px solid var(--neutral-color-medium);
    color: var(--neutral-color-medium);
    text-align: center;
  }

  &__socials {
    margin-top: 20px;
  }
}

