$tooltip-transition-duration: 0.3s;

.page-overlay {
  position: static;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  pointer-events: none;

  &--visible {
    opacity: 1;
  }

  &--portfolio-slider-style {
    transition-property: opacity;
    transition-duration: $tooltip-transition-duration;
  }

  &--portfolio-slider-style &__container {
    display: flex;
    flex-direction: column;
    transform-origin: left top;
    color: var(--brand-color-primary);
    font-size: 22px;
    transform: scale(0);
    transition-property: opacity, transform;
    transition-duration: $tooltip-transition-duration;
  }

  &--portfolio-slider-style &__name, &__category {
    width: max-content;
    padding: 0 10px;
  }

  &--portfolio-slider-style &__name {
    font-weight: 500;
    background-color: var(--brand-color-accent);
  }

  &--portfolio-slider-style &__category {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--brand-color-accent);
  }

  &--visible:is(&--portfolio-slider-style) &__container {
    transform: scale(1);
  }
}
