@use '../abstracts';

.qualities-section {
  position: relative;
  z-index: 0;

  &__content-grid {
    display: grid;
  }

  &__text  {
    display: grid;
    place-items: center center;
    gap: 30px;

    @include abstracts.cq-from(extra-large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__paragraph:not(:last-of-type) {
    margin-bottom: 16px;
  }

  &__text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
  }

  &__image-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 710px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__list {
    display: grid;
    gap: 40px 30px;
    grid-row: 1;
    counter-reset: qualities-counter;


    @include abstracts.cq-from(extra-large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__list-item {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    min-height: 200px;
    counter-increment: qualities-counter;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
      content: counter(qualities-counter, decimal-leading-zero);
      display: block;
      color: var(--brand-color-accent)
    }

    @include abstracts.cq-from(extra-large) {
      &:nth-child(2n) {
        padding: 50px 0 30px;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    z-index: -1;
    color: var(--brand-color-secondary-rich);

    @include abstracts.cq-from(extra-large) {
      left: auto;
      right: 0;
    }
  }

  &__list-item:nth-child(even) &__image {
    top: auto;
    bottom: 0;
  }

  &__list-item-title {
    color: var(--brand-color-shadow);
  }

  &__decorative-text-divider {
    grid-row: 2;
  }
}