@use '../abstracts';

$transition-duration: 0.3s;

.service-features-section {
  background-color: var(--brand-color-secondary);

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 46px 30px;

    @include abstracts.cq-from(medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: 54px 30px;
    }

    @include abstracts.cq-from(extra-large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__term {
    margin-bottom: 11px;
    color: var(--brand-color-shadow);
  }

  &__item:hover .list-item-badge::before {
    transform: scale(1.8);
  }
}
