@use '../abstracts';

.video-presentation-section {
  &__inner {
    display: grid;
    gap: 70px;


    @include abstracts.cq-from(extra-large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__video {
    max-height: 410px;

    @include abstracts.cq-from(medium) {
      max-height: 490px;
    }

    @include abstracts.cq-from(extra-large) {
      max-height: 600px;
      grid-column: -1 / 1;
    }
    
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  p:first-of-type {
    font-style: italic;
  }
}