$transition-duration: 0.3s;

.scroll-to {
  position: fixed;
  z-index: 20;
  opacity: 1;
  transition: opacity 0.3s ease;
  bottom: 100px;
  right: 50px;
  mix-blend-mode: difference;

  &__svg-icon {
    width: 100%;
    height: 100%;
  }

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &--hidden {
    opacity: 0;
  }

  &--top &__button {
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: var(--brand-color-accent);
    background-color: color-mix(in srgb, var(--brand-color-accent) 30%, transparent);
  }

  &--top &__svg-icon {
    position: absolute;
    transform: translateY(50%) rotate(-90deg) scale(0.7);
    transition-duration: $transition-duration;
    transition-property: transform;
  }

  &--top:hover &__svg-icon {
    transform: translateY(0%) rotate(-90deg) scale(0.7);
  }
}