$tooltip-transition-duration: 0.3s;

.portfolio-slider {
  width: 100%;
  user-select: none;
  position: relative;

    
  .swiper-wrapper {
    gap: 40px;
  }

  .swiper-slide {
    width: auto;
  }

  img {
    object-position: bottom;
  }
}

.portfolio-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 370px;
  aspect-ratio: 1;
  background-color: var(--brand-color-secondary-rich);
}

