-
  const contactsWidgetContent = {
    a11lyTitle: {en: 'Contact us', ru: 'Связь с нами'},
    accentText: {en: 'Have an idea?<br>Get in touch <b>with us</b>', ru: 'Есть идея?<br>Свяжись <b>с нами</b>'},
    decorImage: [
      {path: '@image/common/image-column-background-3-960px.jpg', wDescriptor: 960},
      {path: '@image/common/image-column-background-3-600px.jpg', wDescriptor: 600},
    ]
  };

section.section.contacts-widget.full-width
  - const srcsetString = contactsWidgetContent.decorImage.map((value) => `${require(value.path)} ${value.wDescriptor}w`).join(', ');

  h2.section__title.visually-hidden= contactsWidgetContent.a11lyTitle[lang]
  .contacts-widget__inner.full-width.content-grid-cancel
    .contacts-widget__columns
      .contacts-widget__column
        .contacts-widget__decor-image.lazyload(data-bgset = srcsetString, data-sizes = 'auto')
      .contacts-widget__column
        p.section__title!= contactsWidgetContent.accentText[lang]
        +contacts-form()