@use '../../abstracts';

.faq-widget {
  position: relative;

  &__columns {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 0 60px;

    @include abstracts.cq-from(extra-large) {
      flex-direction: row;
    }
  }

  &__text-column {
    flex-basis: 100%;
    padding-top: 63px;
  }

  &__decor-column {
    flex-basis: 100%;
    width: 100%;
    order: -1;

    @include abstracts.cq-from(extra-large) {
      order: 0
    }
  }

  &__decor-image {
    max-width: 600px;
    margin-inline: auto;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
  }
}
