@use '../../abstracts';

$transition-duration: 0.3s;

.faq-section {
  &__columns {
    position: relative;
    display: grid;
    gap: 30px;

    @include abstracts.cq-from(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__link-column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 35px;
  }

  &__title {
    color: var(--brand-color-shadow);
  }
}