-
  const contactsFormContent = {
    note: {en: 'Your email address will not be published. Required fields are marked *', ru: 'Ваш электронный адрес не будет опубликован. Необходимые поля отмечены *'},
    button: {en: 'Get in touch', ru: 'Связаться'},
    formFields: {
      name: {
        class: 'contacts-form__name',
        type: 'text',
        label: {en: 'Your Name*', ru: 'Ваше имя'},
        placeholder: {en: 'Your Name*', ru: 'Ваше имя'},
      },
      email: {
        class: 'contacts-form__email',
        type: 'email',
        label: {en: 'Your Email*', ru: 'Ваша почта'},
        placeholder: {en: 'Your Email*', ru: 'Ваша почта'},
      },
      website: {
        class: 'contacts-form__website',
        type: 'text',
        label: {en: 'Your Website', ru: 'Ваш сайт'},
        placeholder: {en: 'Your Website', ru: 'Ваш сайт'},
      },
      message: {
        class: 'contacts-form__message',
        type: 'textarea',
        label: {en: 'Message...', ru: 'Сообщение'},
        placeholder: {en: 'Message...', ru: 'Сообщение'},
      },
    },
  };

mixin contacts-form()
  form.contacts-form(action="#")
    .contacts-form__note= contactsFormContent.note[lang]
    fieldset.contacts-form__fieldset
      each field, key in contactsFormContent.formFields
        +inputField(field.label[lang], key, field.type, field.placeholder[lang])(class = field.class)
    +main-button(contactsFormContent.button[lang])(type = 'submit', alternate)