mixin logo()
  -
    const {colored, centered, ...rest} = attributes;
    const classList = [
      colored && 'logo--colored',
      centered && 'logo--centered',
    ];

  .logo&attributes(rest)(class = classList)
    a(href= (pageId === 'home' ? '' : 'index.html'))
      p.logo__label= config.brand.name
      +sprite('background-flower-1', 'logo__icon')