//- -
//-   const structure = [
//-     ['Дни', 'Часы'],
//-     ['Пн-Пт', '7:00 – 18:00'],
//-     ['Сб', '7:00 – 18:00'],
//-     ['Вс', '8:00 – 18:00'],
//-   ]


mixin table(structure, caption)
  - const columnCount = Math.max(...structure.map((row) => row.length));
  - const [tableHeader, tableBody]= [structure[0], structure.slice(1)];
  - let index = 0;

  table.table&attributes(attributes)
    if caption
      caption.table__caption= caption
    colgroup
      while index < columnCount
        col(class = `table__column-${index++}`)
    thead
      tr
        each cell in tableHeader
          th(scope = 'col')= cell
    each row in tableBody
      tr
        each cell in row 
          td= cell