mixin videoplayer(src, poster)
  - const resolvedVideo = require(src);
  - const resolvedPoster = poster ? require(poster) : null;
  
  .videoplayer.videoplayer--paused&attributes(attributes)
    video.videoplayer__viewport(src=resolvedVideo, poster = resolvedPoster)
    .videoplayer__control(onClick= `(() => {
      const videoElement = arguments[0].target.previousElementSibling;
      if (videoElement.paused) {
        if (videoElement.ended) {
          videoElement.currentTime = 0;
          videoElement.play();
        } else {
          videoElement.play();
        }
      } else {
        videoElement.pause();
      }
      videoElement.parentElement.classList.toggle('videoplayer--paused', videoElement.paused);
    })()`)
      span.visually-hidden play / pause
      svg(viewBox='-1 -1 11 11', width = 80, height = 80)
        polygon(points='2,0 2,9 9,4.5')
      svg(viewBox='-1 -1 11 11', width = 80, height = 80)
        polygon(points='1.5,0 1.5,9 3.5,9 3.5,0')
        polygon(points='5.5,0 5.5,9 7.5,9 7.5,0')
