@use '../../abstracts';

.contacts-widget {
  padding: 0;

  &__columns {
    display: grid;
    background-color: var(--brand-color-secondary);

    @include abstracts.cq-from(extra-large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__column:nth-child(2) {
    padding: 60px 35px; 

    @include abstracts.cq-from(extra-large) {
      padding: 105px;
    }
  }

  &__decor-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: var(--brand-color-secondary-rich);

    @include abstracts.cq-from(extra-large) {
      aspect-ratio: auto;
      height: 100%;
    }
  }
}
