//- const lang = 'ru';

//- const menuHierarchy = {
//-   'shop': {
//-     link: 'shop.html',
//-     lang: { en: 'shop', ru: 'Магазин' },
//-   },
//-   'blog': {
//-     link: 'blog.html',
//-     lang: { en: 'blog', ru: 'Блог' },
//-   },
//-   'Страницы': {
//-     lang: { en: 'pages', ru: 'Страницы'},
//-     link: {
//-       'home': {
//-         link: 'index.html',
//-         lang: { en: 'home', ru: 'Главная' },
//-       },
//-       'contact-us': {
//-         link: 'contact-us.html',
//-         lang: { en: 'contact us', ru: 'Связь с нами' },
//-       },
//-       'our-team':  {
//-         link: 'our-team.html',
//-         lang: { en: 'our team', ru: 'Наша команда' },
//-       },
//-       'faq': {
//-         link: 'faq.html',
//-         lang: { en: 'FAQ', ru: 'ЧАВО' },
//-       },
//-     },
//-   },
//- };


//- layout type:
//- accordion -> set class 'burger-menu__content--accordion' to .burger-menu__content

mixin burger-menu-list(hierarchy)
  ul.burger-menu__item-list
    each item, key in hierarchy
      - const isString = typeof item.link === 'string';
      - const sentence = item.lang[lang].slice(0, 1).toUpperCase() + item.lang[lang].split('-').join(' ').slice(1);
      if isString
        - const isSame = key.toLowerCase() === pageId.toLowerCase();
        - const hrefAttr = isSame ? '' : item.link;
        - const activeClass = isSame ? 'burger-menu__item--active' : false;
        - const disabledClass = item.disabled && 'burger-menu__item--disabled';
        li.burger-menu__item(class=[activeClass, disabledClass] tabindex='1') 
          a(href=hrefAttr)= sentence
      else
        li.burger-menu__item.burger-menu__submenu(tabindex='1')
          span.burger-menu__item-label= sentence
            +sprite('arrow')
          .burger-menu__submenu-inner
            +burger-menu-list(item.link)

mixin burger-menu(hierarchy)
  .burger-menu&attributes(attributes)
    +burger-button()(class= 'burger-menu__toggler')
    .burger-menu__content.burger-menu__content--accordion
      +burger-button()(class= 'burger-menu__content-close-button')
      .burger-menu__logo-wrapper
        +logo()(class= 'logo--monochrome burger-menu__logo')
      +burger-menu-list(hierarchy)
