-
  const menuHierarchy = {
    'pages': {
      lang: { en: 'Pages', ru: 'Страницы'},
      link: {
        'home': {
          link: 'index.html',
          lang: { en: 'Home', ru: 'Главная' },
        },
        'about-us': {
          link: 'about-us.html',
          lang: { en: 'About us', ru: 'О нас' },
        },
        'our-philosophy': {
          link: 'our-philosophy.html',
          lang: { en: 'Our philosophy', ru: 'Наша философия' },
        },
        'our-team': {
          link: 'our-team.html',
          lang: { en: 'our team', ru: 'Наша команда' },
        },
        'faq': {
          link: 'faq.html',
          lang: { en: 'FAQ', ru: 'ЧАВО' },
        },
        'error': {
          link: 'error.html',
          lang: { en: 'Error', ru: 'Ошибка' },
        },
        'services': {
          link: 'services.html',
          lang: { en: 'Services', ru: 'Услгуги' },
        },
        'shop': {
          link: 'shop.html',
          lang: { en: 'shop', ru: 'Магазин' },
          disabled: true,
        },
        'product-details': {
          link: 'product-details.html',
          lang: { en: 'Product page', ru: 'Страница продукта' },
        },
      },
    },
    'portfolio': {
      link: 'portfolio.html',
      lang: { en: 'Portfolio', ru: 'Портфолио' },
    },
    'contacts': {
      link: 'contacts.html',
      lang: { en: 'Contacts', ru: 'Контакты' },
    },
  };

  const userNav = {
    cart: {
      link: 'cart.html',
      lang: { en: 'Cart', ru: 'Корзина' },
    }
  };

  const pageHeaderContent = {
    searchPlaceholder: {en: 'Search...', ru: 'Поиск...'},
    searchTogglerButtonText: {en: 'Search', ru: 'Поиск'},
    submitButtonText: {en: 'Submit', ru: 'Подтвердить'},
    closeButtonText: {en: 'Close', ru: 'Закрыть'},
    cartButton: {
      href: './cart.html',
      name: {en: 'Cart', ru: 'Корзина'},
    } ,
  };

header.page-navigation.content-grid
  .navbar
    +burger-menu(menuHierarchy)(class='navbar__burger-menu')
    nav.navbar__site
      .navbar__logo-wrapper
        +logo()
      +navigation-menu(menuHierarchy)(class='navbar__navigation-menu')
    .navbar__user
      .navbar__search-field.navbar-search-box
        form.search-field.navbar-search-box__content(action="#")
          +inputField('', 'nav-search', 'text', pageHeaderContent.searchPlaceholder[lang])(class='navbar-search-box__search-field')
          +icon-button(pageHeaderContent.submitButtonText[lang], 'search')(class = 'navbar-search-box__submit-button', outlined, alternate, iconWidth = 24, iconHeight = 24)
        +icon-button(pageHeaderContent.closeButtonText[lang], 'cross')(outlined, alternate, class = 'navbar-search-box__content-close-button', iconWidth = 24, iconHeight = 24)
        button.button.icon-button.icon-button--outlined.navbar-search-box__toggler(type='button')
          span.visually-hidden= pageHeaderContent.searchTogglerButtonText[lang]
          +sprite('search')(width = 24, height = 24)
          +sprite('cross')(width = 24, height = 24)
      +icon-button(pageHeaderContent.cartButton.name[lang], 'cart')(outlined, href = pageHeaderContent.cartButton.href, alternate, iconWidth = 24, iconHeight = 24)