extends ../layout/page-layout

block variables
  -
    const pageScripts = ['pages/contacts/index.ts'];
    const pageTitle = { en: 'Contacts', ru: 'Контакты' };
    const pageId = 'contacts';
    const pathSegments = [ {en: 'Home', ru: 'Главная'}, pageTitle ];
    const titleOptions = {
      name: pageTitle,
      pathSegments: pathSegments,
      lazySizesBackground: [
        {path: '@image/common/page-header-background-9-2560px.jpg', wDescriptor: 2560},
        {path: '@image/common/page-header-background-9-1920px.jpg', wDescriptor: 1200},
        {path: '@image/common/page-header-background-9-1220px.jpg', wDescriptor: 768},
      ],
    };

block content
  main(class= 'page-content content-grid')
    +page-header(titleOptions)
    include ../components/contacts/contacts-section.pug
    