extends ../layout/page-layout

block variables
  -
    const pageScripts = [];
    const pageTitle = { en: 'Error', ru: 'Ошибка' };
    const pageId = 'error';
    const pathSegments = [ {en: 'Home', ru: 'Главная'}, pageTitle ];
    const titleOptions = {
      name: pageTitle,
      pathSegments: pathSegments,
      lazySizesBackground: [
        {path: '@image/common/page-header-background-2-2560px.jpg', wDescriptor: 2560},
        {path: '@image/common/page-header-background-2-1920px.jpg', wDescriptor: 1200},
        {path: '@image/common/page-header-background-2-1220px.jpg', wDescriptor: 768},
      ],
    };

block content
  main(class= 'page-content content-grid')
    +page-header(titleOptions)
    include ../components/page-not-found-section.pug
