extends ../layout/page-layout

block variables
  -
    const pageScripts = ['pages/home/index.ts'];
    const pageTitle = { en: 'Demo site home page', ru: 'Домашняя страница демонстрационого сайта' };
    const pageId = 'home';
    const pathSegments = [ {en: 'Home', ru: 'Главная'}, pageTitle ];
    const homePageTestimonialsBackgroundImageSet = [
      {path: '@image/common/image-column-background-1-960px.jpg', wDescriptor: 960},
      {path: '@image/common/image-column-background-1-600px.jpg', wDescriptor: 600},
    ];

block content
  main(class= 'page-content content-grid')
    h1.visually-hidden= pageTitle[lang]
    include ../components/hero/hero-section.pug
    include ../components/qualities-section.pug
    +client-list-divider()
    include ../components/portfolio/portfolio-widget.pug
    include ../components/shop/shop-category-widget.pug
    include ../components/shop/shop-items-widget.pug
    +testimonials-section(homePageTestimonialsBackgroundImageSet)
    include ../components/blog/blog-widget.pug
