extends ../layout/page-layout

block variables
  -
    const pageScripts = ['pages/portfolio/index.ts'];
    const pageTitle = { en: 'Portfolio', ru: 'Портфолио' };
    const pageId = 'portfolio';
    const pathSegments = [ {en: 'Home', ru: 'Главная'}, pageTitle ];
    const titleOptions = {
      name: pageTitle,
      pathSegments: pathSegments,
      lazySizesBackground: [
        {path: '@image/common/page-header-background-4-2560px.jpg', wDescriptor: 2560},
        {path: '@image/common/page-header-background-4-1920px.jpg', wDescriptor: 1200},
        {path: '@image/common/page-header-background-4-1220px.jpg', wDescriptor: 768},
      ],
    };

block content
  main(class= 'page-content content-grid')
    +page-header(titleOptions)
    include ../components/portfolio/portfolio-section.pug
