@use '../../abstracts';

.achievements-divider-section {
  padding-block: 72px;
  background-color: var(--brand-color-accent);
  color: var(--brand-color-primary);

  &__list {
    display: grid;
    justify-content: center;
    gap: 60px;

    @include abstracts.cq-from(medium) {
      justify-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
    }

    @include abstracts.cq-from(extra-large) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    display: flex;
    gap: 24px;
  }

  &__term {
    text-transform: uppercase;
  }

  &__description {
    order: -1;
  }
}