
.client-list-divider {
  padding-block: 0;

  &--airy {
    padding-block: 120px;
  }
}

.client-slider {
  height: 95px;
  width: max-content;
  max-width: 100%;

  .svg-icon {
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: relative;
    height: 100%;
    width: 240px;
  }

  &__slide-size-holder {
    visibility: hidden;
    height: 100%;
  }

  &__slide-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 200%;
    width: 100%;
    transition: 0.3s transform ease;
    transform: translateY(-50%);
  }

  &__slide:hover &__slide-container {
    transform: translateY(0);
  }

  &__slide-hover-image {
    color: var(--brand-color-accent);
  }

  &__slide-rest-image {
    color: var(--brand-color-secondary-dim);
  }
}