@use '../../abstracts';

.special-offer-divider {
  padding-block: 38px;
  background-color: var(--brand-color-accent);
  color: var(--brand-color-primary);

  &__columns  {
    display: grid;
    gap: 40px;
    align-items: center;

    @include abstracts.cq-from(medium) {
      grid-template-columns: 1fr auto;
    }
  }

  &__accent-text {
    margin-bottom: 20px;

    @include abstracts.cq-from(medium) {
      margin-bottom: 0;
    }
  }
}