@use '../../abstracts';

.wave-text-divider {
  padding-block: 0;

  &__text {
    width: 200%;
    transform: translateX(-16%);
  }

  text {
    // font-size: 32px;

    // @include abstracts.cq-from(medium) {
    //   font-size: 28px;
    // }

    // @include abstracts.cq-from(extra-large) {
    //   font-size: 24px;
    // }
    fill: var(--brand-color-accent);
    stroke: none;
  }
}