-
  const ourPhilosophySectionContent = {
    a11yTile: {en: 'Our list of goals', ru: 'Наш список целей'},
    accentMarkup: {
      en: 'Shopping for skin & body care should be a purely joyful <b>experience</b>',
      ru: 'Покупка средств по уходу за кожей и телом должна приносить исключительно <b>радость</b>.'},
    list: [
      {
        title: {en: 'Natural materials', ru: 'Натуральные материалы'},
        description: {
          en: 'We have an intimidating goal of becoming a zero-waste company, and each year we move closer',
          ru: 'У нас есть пугающая цель — стать компанией с нулевыми отходами, и с каждым годом мы приближаемся к этому',
        },
        icon: 'leaf',
        href: './services.html'
      },
      {
        title: {en: 'Sustainability', ru: 'Устойчивое развитие'},
        description: {
          en: 'We have an intimidating goal of becoming a zero-waste company, and each year we move closer',
          ru: 'У нас есть пугающая цель — стать компанией с нулевыми отходами, и с каждым годом мы приближаемся к этому',
        },
        icon: 'shield',
        href: './services.html'
      },
      {
        title: {en: 'Expertly tested', ru: 'Проверено экспертами'},
        description: {
          en: 'We have an intimidating goal of becoming a zero-waste company, and each year we move closer',
          ru: 'У нас есть пугающая цель — стать компанией с нулевыми отходами, и с каждым годом мы приближаемся к этому',
        },
        icon: 'planet',
        href: './services.html'
      },
    ],
  };

section.section.our-philosophy-section.full-width
  h2.section__title.visually-hidden= ourPhilosophySectionContent.a11yTile[lang]
  p.our-philosophy-section__accent-text.section__title!= ourPhilosophySectionContent.accentMarkup[lang]
  ul.our-philosophy-section__goal-list
    each item in ourPhilosophySectionContent.list
      li.our-philosophy-section__goal-item
        a(href = item.href).link.our-philosophy-section__item-link
          +sprite(item.icon)(class = 'our-philosophy-section__item-icon', width = 53, height = 53)
          h3.our-philosophy-section__item-title= item.title[lang]
          p.our-philosophy-section__item-description= item.description[lang]
          .our-philosophy-section__item-decorative-sticker
            +sprite('plus')(width = 24, height = 24)