-
  const pageNotFoundContent = {
    titleText: {en: 'Page not found', ru: 'Страница не найдена',},
    accentText: {en: '404', ru: '404'},
    leadText: {en: 'Sorry we can`t find that page!', ru: 'К сожалению, мы не можем найти эту страницу!'},
    paragraphText: [
      {en: 'The page you are looking for was moved, removed, renamed or never existed.', ru: 'Страница, которую вы ищете, была перемещена, удалена, переименована или никогда не существовала.'},
    ],
    searchPlaceholder: {en: 'Search...', ru: 'Поиск...'},
    submitButtonText: {en: 'Search', ru: 'Поиск'},
    homeButton: {
      name: {en: 'Take me home', ru: 'Домой'},
      href: './index.html',
    },
    decorativeImage: {
      set: [
        {path: '@image/common/error-780px.png', wDescriptor: 780},
        {path: '@image/common/error-600px.png', wDescriptor: 600},
        {path: '@image/common/error-410px.png', wDescriptor: 410},
      ],
      text: {en: 'handmade store', ru: 'ручная работа'},
      repeatCount: 2,
    }
  };

section.section.page-not-found-section
  h2.section__title.visually-hidden= pageNotFoundContent.titleText[lang]
  .page-not-found-section__column-inner 
    .page-not-found-section__text-column
      p.page-not-found-section__accent-text= pageNotFoundContent.accentText[lang]
      p.page-not-found-section__lead-text= pageNotFoundContent.leadText[lang]
      each paragraph in pageNotFoundContent.paragraphText
        p.page-not-found-section__paragraph-text= paragraph[lang]
      form.search-form.page-not-found-section__search-form
        +inputField('', 'search', 'text', pageNotFoundContent.searchPlaceholder[lang])(class='search-form__search-field')
        +icon-button(pageNotFoundContent.submitButtonText[lang], 'search')(class = 'search-form__submit-button', outlined, alternate, iconWidth = 24, iconHeight = 24)
      +main-button-arrow(pageNotFoundContent.homeButton.name[lang])(class = 'page-not-found-section__home-button', href = pageNotFoundContent.homeButton.href)
    +image-decorative-circle(pageNotFoundContent.decorativeImage.set, pageNotFoundContent.decorativeImage.text[lang], pageNotFoundContent.decorativeImage.repeatCount)(class = 'page-not-found-section__decorative-image')