$transition-duration: 0.3s;

.brand-accordion.accordion {
  .accordion__slot {
    border-bottom: 1px solid var(--brand-color-secondary-dim);
  }

  .accordion__icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: relative;
    transform-origin: center;
    color: var(--brand-color-accent);
    transition-property: transform;
    transition-duration: $transition-duration;

    & > svg {
      position: absolute;
      inset: 0;
      margin: auto;
      transition-property: opacity;
      transition-duration: $transition-duration;
    }
  }

  .accordion__trigger {
    gap: 8px;
  }

  .accordion__summary {
    padding-block: 14px;
    color: var(--brand-color-shadow);
  }

  .accordion__summary-text {
    text-align: left;
  }

  .accordion__details-inner {
    & > *:last-child {
      padding-bottom: 24px;
    }
  }

  .accordion__slot--open .accordion__summary {
    color: var(--brand-color-accent);
  }

  .accordion__slot--open .accordion__icon {
    transform: rotate(-180deg);
  }

  .accordion__slot .accordion__icon > svg:nth-child(1) {
    opacity: 1;
  }

  .accordion__slot--open .accordion__icon > svg:nth-child(1) {
    opacity: 0;
  }

  .accordion__slot .accordion__icon > svg:nth-child(2) {
    opacity: 0;
  }

  .accordion__slot--open .accordion__icon > svg:nth-child(2) {
    opacity: 1;
  }
}