@use '../../abstracts';

.logo {
  position: relative;
  height: 100%;
  width: 100%;
  user-select: none;

  &__label {
    position: absolute;
    inset: 0 0 0 auto;
    height: min-content;
    margin: auto;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  a {
    position: absolute;
    inset: 0;
  }

  &__icon {
    position: absolute;
    inset:  0;
    height: 100%;
    aspect-ratio: 62 / 71;
    z-index: -1;

    @include abstracts.mq-from(extra-large) {
      color: var(--brand-color-accent);
    }
  }

  &--colored &__icon {
    color: var(--brand-color-accent);
  }

  &--centered &__icon {
    margin-inline: auto;
  }

  &--centered &__label {
    width: max-content;
    inset: 0;
  }
}