$gap: 2px;
$icon-size: 13px;
$filled-icon-background-color: var(--brand-color-accent, lightcoral);
$filled-icon-border-color: var(--brand-color-accent, coral);
$empty-icon-background-color: color-mix(in srgb, var(--brand-color-accent) 30%, transparent 70%);
$empty-icon-border-color: color-mix(in srgb, var(--brand-color-accent) 30%, transparent 70%);
$hover-icon-background-color: var(--brand-color-accent, coral);
$hover-icon-border-color: var(--brand-color-accent, coral);

.rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  &--output {
    gap: $gap;
  }

  &__label {
    display: flex;
    cursor: pointer;

    &:not(:first-of-type) {
      padding-right: $gap;
    }
  }

  &__icon {
    width: $icon-size;
    aspect-ratio: 1;
    color: $empty-icon-background-color;
    fill: $empty-icon-background-color;
    stroke: $empty-icon-border-color;

    &--filled {
      color: $filled-icon-background-color;
      fill: $filled-icon-background-color;
      stroke: $filled-icon-border-color;
    }
  }

  &__input {
    display: none;
  }

  &__input:checked ~ &__label &__icon {
    color: $filled-icon-background-color;
    fill: $filled-icon-background-color;
    stroke: $filled-icon-border-color;
  }

  &__input:hover ~ &__label &__icon {
    color: $hover-icon-background-color;
    fill: $hover-icon-background-color;
    stroke: $hover-icon-border-color;
  }
}