html {
  margin-right: calc(-100vw + 100%);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand-color-secondary-rich);
  min-height: 30px;
  border-radius: 12px;
}
