@use '../../abstracts';

$animation-duration: 8s;

.sticker {
  position: relative;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  max-width: 90px;
  max-height: 90px;
  aspect-ratio: 1;

  @include abstracts.cq-from(medium) {
    max-width: 120px;
    max-height: 120px;
  }

  @include abstracts.cq-from(large) {
    max-width: 188px;
    max-height: 188px;
  }

  &--rotate .text-circle__content {
    animation: rotation $animation-duration linear infinite;
    will-change: transform;
  }
}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}