$icon-color: var(--brand-color-primary);
$transition-duration: 0.3s;

.videoplayer {
  position: relative;
  background-color: var(--brand-color-secondary-rich);

  svg {
    display: block;
    stroke: $icon-color;
    stroke-width: 0.4px;
    stroke-linejoin:round;
    fill:none;
  }
  
  svg:nth-of-type(1) {
    display: none;
  }

  svg:nth-of-type(2) {
    display: block;
  }

  &--paused {
    svg:nth-of-type(1) {
      display: block;
    }

    svg:nth-of-type(2) {
      display: none;
    }
  }

  &__control {
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 40px;
    width: max-content;
    height: max-content;

    transition-property: transform;
    transition-duration: $transition-duration;

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      opacity: 0;
      border-radius: 50%;
      border: 3px solid $icon-color;
      transition-property: opacity;
      transition-duration: $transition-duration;
    }

    &:hover {
      border-color: $icon-color;
      transform: scale(1.3);
    }

    &:hover::after {
      border-color: $icon-color;
      opacity: 1;
    }
  }

  &__viewport {
    width: 100%;
    height: 100%;
  }
}