-
  const teamList = [
    {
      name: {en: 'Jannet Taylor', ru: 'Сорокина Александра'},
      role: {en: 'Co-founder of Company', ru: 'Соучредитель компании'},
      //- photo: '@image/test/test-5.jpg',
      photo: [
        {path: '@image/content/team1-340px.jpg', wDescriptor: 340},
        {path: '@image/content/team1-450px.jpg', wDescriptor: 450},
        {path: '@image/content/team1-600px.jpg', wDescriptor: 600},
      ],
    },
    {
      name: {en: 'Amanda Brown', ru: 'Шевцова Ярослава'},
      role: {en: 'Founder of Company', ru: 'Основатель компании'},
      //- photo: '@image/test/test-6.jpg',
      photo: [
        {path: '@image/content/team2-340px.jpg', wDescriptor: 340},
        {path: '@image/content/team2-450px.jpg', wDescriptor: 450},
        {path: '@image/content/team2-600px.jpg', wDescriptor: 600},
      ],
    },
    {
      name: {en: 'Alisa Walker', ru: 'Муравьева Алина'},
      role: {en: 'Manager of Company', ru: 'Менеджер компании'},
      //- photo: '@image/test/test-7.jpg',
      photo: [
        {path: '@image/content/team3-340px.jpg', wDescriptor: 340},
        {path: '@image/content/team3-450px.jpg', wDescriptor: 450},
        {path: '@image/content/team3-600px.jpg', wDescriptor: 600},
      ],
    },
    {
      name: {en: 'Olivia Tompson', ru: 'Смирнова Анна'},
      role: {en: 'Assistant', ru: 'Ассистент'},
      //- photo: '@image/test/test-8.jpg',
      photo: [
        {path: '@image/content/team4-340px.jpg', wDescriptor: 340},
        {path: '@image/content/team4-450px.jpg', wDescriptor: 450},
        {path: '@image/content/team4-600px.jpg', wDescriptor: 600},
      ],
    },
    {
      name: {en: 'Tina Perish', ru: 'Быкова Алиса'},
      role: {en: 'Smm Manager', ru: 'Смм-менеджер'},
      //- photo: '@image/test/test-9.jpg',
      photo: [
        {path: '@image/content/team5-340px.jpg', wDescriptor: 340},
        {path: '@image/content/team5-450px.jpg', wDescriptor: 450},
        {path: '@image/content/team5-600px.jpg', wDescriptor: 600},
      ],
    },
    {
      name: {en: 'Naty Simson', ru: 'Токарева Анастасия'},
      role: {en: 'Assistant', ru: 'Ассистент'},
      //- photo: '@image/test/test-4.jpg',
      photo: [
        {path: '@image/content/team6-340px.jpg', wDescriptor: 340},
        {path: '@image/content/team6-450px.jpg', wDescriptor: 450},
        {path: '@image/content/team6-600px.jpg', wDescriptor: 600},
      ],
    },
  ];