include ./team-data.pug

-
  const ourTeamSectionContent = {
    titleMarkup: {
      en: 'Meet the crew of people <br>who love the delicious <b>aromas</b>',
      ru: 'Познакомьтесь с командой людей, которые любят вкусные <b>ароматы</b>',
    },
  };

section.section.team-section
  h2.section__title.team-section__title!= ourTeamSectionContent.titleMarkup[lang]
  +team-list(teamList)