-
  const candleFeaturesContent = {
    title: {
      en: `Natural, toxin-free candles that's good for you and <b>the planet</b>`,
      ru: `Натуральные, не содержащие токсинов свечи, полезные для вас и <b>планеты</b>`,
    },
    features: [
      {
        title: {en: 'Scents soy candles', ru: 'Ароматические соевые свечи'},
        desc: {
          en: 'Our products are handcrafted and tested with care, then hand mixed and hand',
          ru: 'Наша продукция изготавливается вручную и тщательно тестируется, затем вручную смешивается и обрабатывается вручную.',
        },
        image: {
          icon: 'folium',
          src: '@image/common/service-bg-1-370px.jpg',
        },
        button: {
          name: {en: 'View more​', ru: 'Читать дальше'},
          href: './services.html',
        },
      },
      {
        title: {en: 'Natural diffusers', ru: 'Натуральные диффузоры'},
        desc: {
          en: 'Our products are handcrafted and tested with care, then hand mixed and hand',
          ru: 'Наша продукция изготавливается вручную и тщательно тестируется, затем вручную смешивается и обрабатывается вручную.',
        },
        image: {
          icon: 'flower',
          src: '@image/common/service-bg-2-370px.jpg',
        },
        button: {
          name: {en: 'View more​', ru: 'Читать дальше'},
          href: './services.html',
        },
      },
      {
        title: {en: 'Mini candles', ru: 'Мини-свечи'},
        desc: {
          en: 'Our products are handcrafted and tested with care, then hand mixed and hand',
          ru: 'Наша продукция изготавливается вручную и тщательно тестируется, затем вручную смешивается и обрабатывается вручную.',
        },
        image: {
          icon: 'candle',
          src: '@image/common/service-bg-3-370px.jpg',
        },
        button: {
          name: {en: 'View more​', ru: 'Читать дальше'},
          href: './services.html',
        },
      },
    ],
  };

section.section.promo-section-candle-features
  h2.section__title.promo-section-candle-features__title!= candleFeaturesContent.title[lang]
  ul.promo-section-candle-features__list 
    each feature in candleFeaturesContent.features
      li.promo-section-candle-features__item 
        .promo-section-candle-features__image-container
          +respImage(feature.image.src, alt = '')(class = 'promo-section-candle-features__image')
          .promo-section-candle-features__icon-container
            +sprite(feature.image.icon)(width = 53, height = 53)
        h3.promo-section-candle-features__item-title= feature.title[lang]
        p.promo-section-candle-features__item-desc= feature.desc[lang]
        +slim-button(feature.button.name[lang])(icon = 'long-arrow', href = feature.button.href, class = 'promo-section-candle-features__button')