-
  const bestRecipesSectionContent = {
    titleMarkup: {en: 'Handcrafted soap & candles <b>since 2014</b>', ru: `Мыло и свечи ручной работы <b>с 2014 года.</b>`},
    paragraphs: [
      {
        en: 'Our moisturizing organic natural soap recipes are meticulously developed to produce a mild, skin-nourishing soap that offers a magnificent long-lasting lather and leaves your skin feeling clean, soft and radiantly healthy.',
        ru: 'Наши рецепты увлажняющего органического натурального мыла тщательно разработаны для получения мягкого, питательного для кожи мыла, которое обеспечивает великолепную длительную пену и оставляет вашу кожу чистой, мягкой и сияющей здоровьем.',
      },
    ],
    progressBars: [
      {
        name: {en: 'Natural', ru: 'Естественный'},
        value: 70,
        unit: '%',
      },
      {
        name: {en: 'Experience', ru: 'Опыт'},
        value: 90,
        unit: '%',
      },
      {
        name: {en: 'Quality', ru: 'Качество'},
        value: 80,
        unit: '%',
      },
    ],
    decorativeImageSet: [
      {
        srcset: [
          {path: '@image/common/special-image-3-1-560px.jpg', wDescriptor: 560},
          {path: '@image/common/special-image-3-1-280px.jpg', wDescriptor: 280},
        ]
      },
      {
        srcset: [
          {path: '@image/common/special-image-3-2-280px.jpg', wDescriptor: 280},
          {path: '@image/common/special-image-3-2-140px.jpg', wDescriptor: 140},
        ]
      },
    ],
  };

section.section.promo-best-recipes-section.full-width
  .promo-best-recipes-section__columns 
    .promo-best-recipes-section__column
      .promo-best-recipes-section__text 
        h2.section__title!= bestRecipesSectionContent.titleMarkup[lang]
        each paragraph in bestRecipesSectionContent.paragraphs
          p= paragraph[lang]
      .promo-best-recipes-section__progress-bars 
        each bar in bestRecipesSectionContent.progressBars
          - const {name, value, unit} = bar;
          +progress-bar(name, value, unit)
    .promo-best-recipes-section__column
      +image-decorative-special(bestRecipesSectionContent.decorativeImageSet)(class = 'promo-best-recipes-section__image')
