@use '../../abstracts';

.promo-section-soap-qualities {
  background-color: var(--brand-color-secondary);
  z-index: 0;

  &__title-wrapper {
    position: relative;
    z-index: -1;
    text-align: center;
    margin-bottom: 90px;
  }

  &__title-decor-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: auto;
    width: 240px;
    aspect-ratio: 1;
    color: var(--brand-color-secondary-rich);
    transform: translateY(10%);
  }
  
  &__decor-image {
    width: 100%;
    aspect-ratio: 1;
  }

  &__list  {
    display: grid;
    gap: 60px;

    @include abstracts.cq-from(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include abstracts.cq-from(extra-large) {
      grid-template-columns: 1fr 568px 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @include abstracts.cq-from(extra-large) {
      max-width: 270px;
    }

    &:nth-of-type(1), &:nth-of-type(4) {
      @include abstracts.cq-from(extra-large) {
        justify-self: start;
        text-align: left;
      }
    }

    &:nth-of-type(2), &:nth-of-type(5) {
      @include abstracts.cq-from(extra-large) {
        justify-self: end;
        text-align: right;
        align-items: end;
      }
    }

    &--decor {
      place-self: center center;
      width: 100%;
      max-width: 568px;
      max-height: 568px;

      @include abstracts.cq-from(medium) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }

      @include abstracts.cq-from(extra-large) {
        grid-column: 2;
        grid-row: 1 / 3;
      }
    }

    &:hover .list-item-badge::before {
      transform: scale(1.8);
    }
  }
}
