@use '../../abstracts';

.promo-best-recipes-section {
  &__columns {
    display: grid;
    gap: 50px 80px;

    @include abstracts.cq-from(extra-large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image {
    max-width: 700px;
    margin-inline: auto;
  }
}
