//-     lazySizesImageSet = [
//-       {path: '@image/test/test-2-1024px.jpg', wDescriptor: 1024},
//-       {path: '@image/test/test-2-768px.jpg', wDescriptor: 768},
//-       {path: '@image/test/test-2-380px.jpg', wDescriptor: 380},
//-     ]

mixin image-decorative-w-sticker(lazySizesImageSet)
  - const srcsetString = lazySizesImageSet.map((value) => `${require(value.path)} ${value.wDescriptor}w`).join(', ');

  .image-decorative-w-sticker&attributes(attributes)(class = classList)
    div.image-decorative-w-sticker__image.lazyload(data-bgset = srcsetString, data-sizes = 'auto')
    +sticker()(class = 'image-decorative-w-sticker__sticker')
