//- const lazySizesImageSet = [
//-   {
//-     srcset: [
//-       {path: '@image/test/test-1-1024px.jpg', wDescriptor: 1024},
//-       {path: '@image/test/test-1-768px.jpg', wDescriptor: 768},
//-       {path: '@image/test/test-1-380px.jpg', wDescriptor: 380},
//-     ]
//-   },
//-   {
//-     srcset: [
//-       {path: '@image/test/test-2-1024px.jpg', wDescriptor: 1024},
//-       {path: '@image/test/test-2-768px.jpg', wDescriptor: 768},
//-       {path: '@image/test/test-2-380px.jpg', wDescriptor: 380},
//-     ]
//-   },
//- ];

mixin image-decorative-special(lazySizesImageSet)
  -
    const {reversed, flipped, ...props} = attributes;
    const classList = [
      reversed && `image-decorative-special--reversed-stack`,
      flipped && `image-decorative-special--flipped`,
    ];
    const [primaryImage, secondaryImage] = lazySizesImageSet.map(({srcset}) => {
      const srcsetString = srcset.map((value) => `${require(value.path)} ${value.wDescriptor}w`).join(', ');
      return {
        srcsetString: srcsetString,
      };
    });

  .image-decorative-special(class = classList)&attributes(props)
    div.image-decorative-special__primary-image.lazyload(data-bgset = primaryImage.srcsetString, data-sizes = 'auto')
    div.image-decorative-special__secondary-image.lazyload(data-bgset = secondaryImage.srcsetString, data-sizes = 'auto')
