mixin defaultModal()
  .default-modal 
    .default-modal__content 
      p.default-modal__title
      p.default-modal__message
      +main-button('ะะบ')(class = 'default-modal__sumbit-button')
    .default-modal__background 