@use '../../abstracts';
@use 'sass:map';

.hero-slider {
  height: 70vw;
  min-height: 400px;

  @include abstracts.cq-from(medium) {
    height: 550px;
  }

  @include abstracts.cq-from(large) {
    height: 700px;
  }

  @include abstracts.cq-from(extra-large) {
    height: 880px;
  }


  &__slide {
    height: 100%;
    width: 100%;
    padding-block: 80px 90px;
    background-color: var(--brand-color-secondary-rich);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;

    @include abstracts.cq-from(extra-large) {
      padding-top: 190px;
    }
  }

  &__slide-content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-self: end;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-inline: auto;
    padding-inline: 25px;

    @include abstracts.cq-from(medium) {
      max-width: 80%;
    }

    @include abstracts.cq-from(extra-large) {
      max-width: 80%;
      text-align: left;
      margin-inline: 0;
      margin-right: 10%;
    }
  }

  &__slide-sticker {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(60%, -75%);
  }

  &__slide-title {
    position: relative;
    color: var(--brand-color-shadow);

    margin-bottom: 20px;
  }

  $more-offset: 100px;

  &__slide-description {
    margin-left: 0;
    margin-bottom: 20px;

    @include abstracts.cq-from(extra-large) {
      margin-bottom: 45px;
      margin-left: 10%;
    }
  }

  &__button {
    margin-left: 0;

    @include abstracts.cq-from(extra-large) {
      align-self: flex-start;
      margin-left: 10%;
    }
  }

  &__pagination-wrapper {
    position: absolute;
    inset: 0;
  }

  &__pagination {
    position: static;
    justify-self: end;
    flex-direction: column;
  }
}