-
  const categories = [
    {
      id: 'Candles',
      name: { en: 'Candles', ru: 'Свечи' },
    },
    {
      id: 'Care',
      name: { en: 'Care', ru: 'Уход' },
    },
    {
      id: 'Handmade',
      name: { en: 'Handmade', ru: 'Ручная работа' },
    },
    {
      id: 'Jewelry',
      name: { en: 'Jewelry', ru: 'Бижутерия' },
    },
    {
      id: 'Soap',
      name: { en: 'Soap', ru: 'Мыло' },
    },
    ];

  const portfolioItems = [
    {
      name: { en: 'Handmade soap', ru: 'Мыло ручной работы' },
      category: ['Soap'],
      //- href: './handmade-soap.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio1-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio1-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio1-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: { en: 'Organic soap', ru: 'Органическое мыло' },
      category: ['Soap', 'Handmade'],
      //- href: './organic-soap.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio2-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio2-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio2-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: { en: 'Body care', ru: 'Уход за телом' },
      category: ['Care'],
      //- href: './body-care.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio3-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio3-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio3-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: { en: 'Exclusive collection', ru: 'Эксклюзивная коллекция' },
      category: ['Soap'],
      //- href: './exclusive-collection.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio4-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio4-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio4-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: { en: 'Variety of scents', ru: 'Разнообразие ароматов' },
      category: ['Soap'],
      //- href: './variety-of-scents.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio5-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio5-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio5-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: { en: 'Esthetic of body', ru: 'Эстетика тела' },
      category: ['Candles'],
      //- href: './esthetic-of-body.html',
      href: './error.html',
      image: {
        media: mediaOptions,
        srcset: [
          {path: '@image/content/portfolio6-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio6-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio6-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: { en: 'Mystery ingredient', ru: 'Таинственный ингредиент' },
      category: ['Candles', 'Handmade'],
      //- href: './mystery-ingredient.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio7-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio7-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio7-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: { en: 'Workshop', ru: 'Мастерская' },
      category: ['Handmade'],
      //- href: './workshop.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio8-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio8-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio8-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: { en: 'Love yourself', ru: 'Люби себя' },
      category: ['Care'],
      //- href: './love-yourself.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio9-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio9-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio9-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: { en: 'Soul healing', ru: 'Исцеление души' },
      category: ['Care'],
      //- href: './soul-healing.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio10-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio10-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio10-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: { en: 'Wellness aesthetic', ru: 'Оздоровительная эстетика' },
      category: ['Candles'],
      //- href: './wellness-aesthetic.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio11-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio11-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio11-690px.jpg', wDescriptor: 690},
        ]
      },
    },
    {
      name: 'Germ protection',
      name: { en: 'Germ protection', ru: 'Защита от микробов' },
      category: ['Care'],
      //- href: './germ-protection.html',
      href: './error.html',
      image: {
        srcset: [
          {path: '@image/content/portfolio12-240px.jpg', wDescriptor: 240},
          {path: '@image/content/portfolio12-370px.jpg', wDescriptor: 370},
          {path: '@image/content/portfolio12-690px.jpg', wDescriptor: 690},
        ]
      },
    },
  ];
  