include ./portfolio-data.pug
-
  const portfolioWidgetTextContent = {
    title: {en: 'Portfolio', ru: 'Порфолио'},
    mediaSettings: [
      {viewport: 380, imageCount: 1, widthOffset: 0},
      {viewport: 768, imageCount: 2, widthOffset: -30},
      {viewport: 1024, imageCount: 2, widthOffset: -30},
      {viewport: 1200, imageCount: 4, widthOffset: -120},
    ],
  }

mixin portfolio-card(slide)
  - const categoryDataStrings = slide.category.map((category) => categories.find((item) => item.id === category).name[lang]).join(', ');
  a.portfolio-slider__slide.portfolio-item(href = slide.href, data-name = slide.name[lang], data-category = categoryDataStrings)
    span.portfolio-item__name.visually-hidden= slide.name[lang]
    +respImage({media: portfolioWidgetTextContent.mediaSettings, srcset: slide.image.srcset}, alt = '')(class = 'portfolio-item__image')

section.section.portfolio-widget.full-width
  h2.section__title.visually-hidden= portfolioWidgetTextContent.title[lang]
  .swiper.portfolio-slider.breakout
    ul.swiper-wrapper
      each portfolioItem in portfolioItems
        li.swiper-slide
          +portfolio-card(portfolioItem)