@use '../../abstracts';

.blog-widget-section {
  gap: 60px 0;

  &__headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    @include abstracts.cq-from(extra-large) {
      flex-direction: row;
    }
  }

  &__title {
    flex-grow: 1;
  }

  &__article-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 560px));
    justify-content: center;
    gap: 30px;

    @include abstracts.cq-from(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include abstracts.cq-from(extra-large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__article {
    display: none;
    

    @include abstracts.cq-from(small) {
      &:nth-child(-n + 1) {
        display: block;
      }
    }

    @include abstracts.cq-from(medium) {
      &:nth-child(-n + 2) {
        display: block;
      }
    }

    @include abstracts.cq-from(extra-large) {
      &:nth-child(-n + 3) {
        display: block;
      }
    }
  }
}

.blog-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;

  &__text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-grow: 1;
  }

  $gap: 2.5em;

  &__info {
    order: -1;
    display: flex;
    gap: $gap;
    color: var(--neutral-color-light);
    text-transform: uppercase;
    letter-spacing: 0.1em;

    & > * + * {
      position: relative;
    }

    & > * + *::before {
      position: absolute;
      left: 0;
      width: $gap;
      transform: translateX(-100%);
      content: "•••";
      letter-spacing: calc($gap / 10);
      text-align: center;
      color: var(--brand-color-accent);
    }
  }

  &__button {
    margin-top: auto;
  }

  &__image {
    position: relative;
    aspect-ratio: 1;
    background-color: var(--brand-color-secondary-rich);
  }

  &__link {
    position: absolute;
    inset: 0;
  }

  &__tag {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-transform: uppercase;
  }
}
