@use '../../abstracts';

$transition-duration: 0.3s;

.team-list {
  display: grid;
  gap: 50px;
  justify-content: center;
  margin-block: 48px;

  @include abstracts.cq-from(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include abstracts.cq-from(extra-large) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    flex-basis: 100%;
    padding-bottom: 11px;
  }

  &__item-image-container  {
    position: relative;
    height: auto;
    aspect-ratio: 1;
    margin-bottom: 22px;
    overflow: hidden;
    background-color: var(--brand-color-secondary-rich);
    transition-property: outline-width;
    transition-duration: $transition-duration;

    &::after {
      position: absolute;
      inset: 0;
      content: '';
      border: 2px solid var(--brand-color-accent);
      opacity: 0;
      pointer-events: none;
      transition-property: opacity;
      transition-duration: $transition-duration;
    }
  }

  &__item-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color-primary);
    opacity: 0;
    transition-property: opacity;
    transition-duration: $transition-duration;
  }

  &__item-socials {
    display: flex;
    gap: 20px;
    justify-content: center;
    color: var(--brand-color-shadow);

    & > li {
      transition-property: opacity, transform;
      transition-duration: $transition-duration;
      transform: translateY(100%);
      opacity: 0;
    }

    @for $i from 1 through 4 {
      & > li:nth-child(#{$i}) {
        transition-delay: calc($i * ($transition-duration / 5));
      }
    }
  }

  &__person-photo {
    display: block;
  }

  &__person-role, &__person-name {
    text-align: center;
  }

  &__person-name {
    margin-bottom: 9px;
  }

  &__person-role {
    color: var(--brand-color-accent);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__button {
    margin-inline: auto;
  }

  &__item:nth-child(odd) &__item-image-container,
  &__item:nth-child(odd) &__item-image-container::after {
    border-top-left-radius: 50%;
  }

  &__item:nth-child(even) &__item-image-container,
  &__item:nth-child(even) &__item-image-container::after {
    border-bottom-right-radius: 50%;
  }

  &__item:hover &__item-overlay {
    opacity: 0.9;
  }

  &__item:hover &__item-image-container::after {
    opacity: 1;
  }

  &__item:hover &__item-socials > li {
    transform: translateY(0);
    opacity: 1;
  }
}

.team-widget {
  background-color: var(--brand-color-secondary);

  &__title {
    text-align: center;
  }

  &__button {
    margin-inline: auto;
  }

  &__team-list {
    .team-list__item {
      display: none;
      flex-basis: 100%;
      padding-bottom: 11px;
  
      &:nth-child(1) {
        display: block;
      }
    }

    @include abstracts.cq-from(medium) {
      .team-list__item:nth-child(-n + 2) {
        display: block;
      }
    }
  
    @include abstracts.cq-from(extra-large) {
      .team-list__item:nth-child(-n + 3) {
        display: block;
      }
    }
  }
}
