-
  const achievementsDividerSection = {
    title: {en: 'Our achievements', ru: ''},
    list: [
      {
        term: {en: 'Years of<br>experience', ru: 'Годы<br>опыта'},
        descrip: 12,
      },
      {
        term: {en: 'Happy<br>clients', ru: 'Счастливые<br>клиенты'},
        descrip: 356,
      },
      {
        term: {en: 'Hours one<br>candle burns', ru: 'Часы горит<br>одна свеча'},
        descrip: 40,
      },
      {
        term: {en: 'Types<br>of candles', ru: 'Виды<br>свечей'},
        descrip: 20,
      },
    ],
  };

section.section.achievements-divider-section.full-width
  h2.section__title.visually-hidden= achievementsDividerSection.title[lang]
  dl.achievements-divider-section__list 
    each item in achievementsDividerSection.list
      .achievements-divider-section__item 
        dt.achievements-divider-section__term!= item.term[lang]
        dd.achievements-divider-section__description= item.descrip
