-
  const ourTeamTextDividerContent = {
    title: {en: 'Divider', ru: 'Разделитель'},
    text: {en: `author's and handmade jewelry`, ru: `авторские украшения и украшения ручной работы`},
    repeatCount: {en: 4, ru: 3},
  };

section.section.wave-text-divider
  h2.section__title.visually-hidden= ourTeamTextDividerContent.title[lang]
  +wave-text(ourTeamTextDividerContent.text[lang], ourTeamTextDividerContent.repeatCount[lang])(
    class = 'wave-text-divider__text',
    font-size = 24,
    frequency = 3,
    word-spacing = '1em',
    curvatureRatio = 1,
    amplitude = 200,
    length = 640,
  )