-
  const specialOfferDividerContent = {
    a11yTitle: {en: 'Special offer', ru: 'Специальное предложение'},
    accentText: {en: 'Get a free consultation right now!', ru: 'Получите бесплатную консультацию прямо сейчас!'},
    text: {en: 'If we haven’t answered your question below, please feel free to get in touch.', ru: 'Если мы не ответили на ваш вопрос ниже, пожалуйста, свяжитесь с нами.'},
    button: {
      name: {en: 'View more', ru: 'Узнать больше'},
      href: './contacts.html',
    },
  };

section.section.special-offer-divider.full-width
  h2.section__title.visually-hidden= specialOfferDividerContent.a11yTitle[lang]
  .special-offer-divider__columns 
    .special-offer-divider__column.special-offer-divider__text-column
      p.special-offer-divider__accent-text= specialOfferDividerContent.accentText[lang]
      p.special-offer-divider__text= specialOfferDividerContent.text[lang]
    .special-offer-divider__column
      +main-button-arrow(specialOfferDividerContent.button.name[lang])(class = 'special-offer-divider__button', bordered, href = specialOfferDividerContent.button.href)
