$breakpoints: (
  'small': 380px,
  'medium': 768px,
  'large': 1024px,
  'extra-large': 1200px,
) !default;
$z-index-levels: (
  'menu': 100,
) !default;
$content-min-width: 380px;
$content-max-width: 1400px;
$padding-inline: 5%;
$breakout-max-width: $content-max-width + 200px;
