-
  const faqData = [
    {
      summary: {
        en: 'What is the difference between parfum & essential oil?',
        ru: 'В чем разница между парфюмом и эфирным маслом?'
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.'
      },
    },
    {
      summary: {
        en: 'Can I get advice on what products are best for me?',
        ru: 'Могу ли я получить совет о том, какие продукты лучше всего подходят для меня?',
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.',
      },
    },
    {
      summary: {
        en: 'Do you use GMO ingredients?',
        ru: 'Используете ли вы ГМО-ингредиенты?',
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.',
      },
    },
    {
      summary: {
        en: 'Can your liquid soap be used for laundry?',
        ru: 'Можно ли использовать жидкое мыло для стирки?',
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.',
      },
    },
    {
      summary: {
        en: 'What are your expiry dates?',
        ru: 'Какие у вас сроки годности?',
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.',
      },
    },
    {
      summary: {
        en: 'Do you use ingredients containing gluten?',
        ru: 'Используете ли вы ингредиенты, содержащие глютен?',
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.',
      },
    },
    {
      summary: {
        en: 'Is the sunscreen biodegradableand reef-safe?',
        ru: 'Является ли солнцезащитный крем биоразлагаемым и безопасным для рифов?',
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.',
      },
    },
    {
      summary: {
        en: 'Do you test on animals?',
        ru: 'Вы тестируете на животных?',
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.',
      },
    },
    {
      summary: {
        en: 'What the best shampoo for me?',
        ru: 'Какой шампунь для меня лучший?',
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.',
      },
    },
    {
      summary: {
        en: 'Is your shampoo safe for coloured treated hair?',
        ru: 'Безопасен ли ваш шампунь для окрашенных волос?',
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.',
      },
    },
    {
      summary: {
        en: 'Is your sunscreen non-nano?',
        ru: 'Ваш солнцезащитный крем не нано?',
      },
      details: {
        en: 'You can tackle this program at your own availability. So whether you have an hour per day spare or an hour per week, the training will be ready when you are. As with anything, the more time you can dedicate.',
        ru: 'Вы можете заняться этой программой по своему усмотрению. Так что независимо от того, есть ли у вас свободный час в день или час в неделю, тренировка будет готова, когда вы будете готовы. Как и во всем, чем больше времени вы можете посвятить этому.',
      },
    },
  ];