mixin google-tag-manager-pixel(id)
  -
    if (!id) throw new Error('id is not defined');

  noscript
    iframe(src=`https://www.googletagmanager.com/ns.html?id=${id}` height="0" width="0" style="display:none;visibility:hidden")