mixin google-analytics(id)
  -
    if (!id) throw new Error('id is not defined');
    
  script(async src=`https://www.googletagmanager.com/gtag/js?id=${id}`)
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', #{id});