- locals = require('../../../assets/js/helpers/mock');
-
  const dateFormat = {
    en: ['en-US', {month: 'long', year: 'numeric', day: 'numeric'}],
    ru: ['ru-RU', {month: 'long', year: 'numeric', day: 'numeric'}],
  };

  const dateShift = { month: 2, day: 20 };
  
  const blogArticleList = [
    {
      author: {en: 'Katty Perish', ru: 'Крылова Валерия'},
      date: locals.getRandomDateFromCurrent(dateShift, 'shiftBefore'),
      title: {en: 'Why exfoliating your skin is important', ru: 'Почему отшелушивание вашей кожи важно'},
      image: [
        {path: '@image/common/blog-single-1-560px.jpg', wDescriptor: 560},
        {path: '@image/common/blog-single-1-450px.jpg', wDescriptor: 450},
        {path: '@image/common/blog-single-1-340px.jpg', wDescriptor: 340},
      ],
      href: './error.html',
      category: {
        id: 'Skin Care',
        name: {en: 'Skin Care', ru: 'Уход за кожей'},
      },
    },
    {
      author: {en: 'Katty Perish', ru: 'Крылова Валерия'},
      date: locals.getRandomDateFromCurrent(dateShift, 'shiftBefore'),
      title: {en: 'How natural soap is changing the planet', ru: 'Как натуральное мыло меняет планету'},
      image: [
        {path: '@image/common/blog-single-2-560px.jpg', wDescriptor: 560},
        {path: '@image/common/blog-single-2-450px.jpg', wDescriptor: 450},
        {path: '@image/common/blog-single-2-340px.jpg', wDescriptor: 340},
      ],
      href: './error.html',
      category: {
        id: 'Handmade',
        name: {en: 'Handmade', ru: 'Ручная работа'},
      },
    },
    {
      author: {en: 'Katty Perish', ru: 'Крылова Валерия'},
      date: locals.getRandomDateFromCurrent(dateShift, 'shiftBefore'),
      title: {en: 'How we use natural components in our products', ru: 'Как мы используем натуральные компоненты в наших продуктах'},
      image: [
        {path: '@image/common/blog-single-3-560px.jpg', wDescriptor: 560},
        {path: '@image/common/blog-single-3-450px.jpg', wDescriptor: 450},
        {path: '@image/common/blog-single-3-340px.jpg', wDescriptor: 340},
      ],
      href: './error.html',
      category: {
        id: 'Handmade',
        name: {en: 'Handmade', ru: 'Ручная работа'},
      },
    },
    {
      author: {en: 'Katty Perish', ru: 'Крылова Валерия'},
      date: locals.getRandomDateFromCurrent(dateShift, 'shiftBefore'),
      title: {en: 'Macadamia for you handcare & beauty', ru: 'Макадамия для тебя'},
      image: [
        {path: '@image/common/blog-single-4-560px.jpg', wDescriptor: 560},
        {path: '@image/common/blog-single-4-450px.jpg', wDescriptor: 450},
        {path: '@image/common/blog-single-4-340px.jpg', wDescriptor: 340},
      ],
      href: './error.html',
      category: {
        id: 'Skin Care',
        name: {en: 'Skin Care', ru: 'Уход за кожей'},
      }
    },
    {
      author: {en: 'Katty Perish', ru: 'Крылова Валерия'},
      date: locals.getRandomDateFromCurrent(dateShift, 'shiftBefore'),
      title: {en: 'The recipe of natural aloe handcrafted soap', ru: 'Рецепт натурального мыла ручной работы'},
      image: [
        {path: '@image/common/blog-single-5-560px.jpg', wDescriptor: 560},
        {path: '@image/common/blog-single-5-450px.jpg', wDescriptor: 450},
        {path: '@image/common/blog-single-5-340px.jpg', wDescriptor: 340},
      ],
      href: './error.html',
      category: {
        id: 'Handmade',
        name: {en: 'Handmade', ru: 'Ручная работа'},
      },
    },
    {
      author: {en: 'Katty Perish', ru: 'Крылова Валерия'},
      date: locals.getRandomDateFromCurrent(dateShift, 'shiftBefore'),
      title: {en: 'Everything you know about soy candles', ru: 'Все что нужно знать о соевых свечах'},
      image: [
        {path: '@image/common/blog-single-6-560px.jpg', wDescriptor: 560},
        {path: '@image/common/blog-single-6-450px.jpg', wDescriptor: 450},
        {path: '@image/common/blog-single-6-340px.jpg', wDescriptor: 340},
      ],
      href: './error.html',
      category: {
        id: 'Candles',
        name: {en: 'Candles', ru: 'Свечи'},
      },
    },
    {
      author: {en: 'Katty Perish', ru: 'Крылова Валерия'},
      date: locals.getRandomDateFromCurrent(dateShift, 'shiftBefore'),
      title: {en: 'Get a calm complexion with chamomile', ru: 'Получите спокойный цвет лица с помощью ромашки'},
      image: [
        {path: '@image/common/blog-single-7-560px.jpg', wDescriptor: 560},
        {path: '@image/common/blog-single-7-450px.jpg', wDescriptor: 450},
        {path: '@image/common/blog-single-7-340px.jpg', wDescriptor: 340},
      ],
      href: './error.html',
      category: {
        id: 'Handmade',
        name: {en: 'Handmade', ru: 'Ручная работа'},
      },
    },
    {
      author: {en: 'Katty Perish', ru: 'Крылова Валерия'},
      date: locals.getRandomDateFromCurrent(dateShift, 'shiftBefore'),
      title: {en: 'Happy handwashing day! Take care of yourself', ru: 'С Днем мытья рук! Берегите себя'},
      image: [
        {path: '@image/common/blog-single-8-560px.jpg', wDescriptor: 560},
        {path: '@image/common/blog-single-8-450px.jpg', wDescriptor: 450},
        {path: '@image/common/blog-single-8-340px.jpg', wDescriptor: 340},
      ],
      href: './error.html',
      category: {
        id: 'Skin Care',
        name: {en: 'Skin Care', ru: 'Уход за кожей'},
      }
    },
  ];