$transition-duration: 0.3s;

.image-viewer {
  width: 100%;
  min-width: 1px;
  max-width: 560px;

  &__viewport {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 30px;
  }

  &__viewport img {
    display: block;
  }

  &__expand {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: red;
  }

  &__thrumbs {
    .swiper-slide {
      border: 1px solid transparent;
      transition-duration: $transition-duration;
      transition-property: border-color;

      &-thumb-active, &:hover {
        border-color: var(--brand-color-accent);
      }
    }

    img {
      display: block;
    }
  }

  &__thrumb {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    transition-property: outline;
    transition-duration: $transition-duration;
    outline: 1px solid transparent;
  }
}
