@use '../../abstracts';

.shop-items-widget {
  &__title {
    text-align: center;
    width: 80%;
    margin-inline: auto;

    @include abstracts.cq-from(extra-large) {
      margin-bottom: 75px;
    }
  }

  &__slider {
    width: max-content;
    max-width: 100%;

    .swiper-wrapper {
      gap: 40px;
    }
  
    .swiper-slide {
      width: auto;
    }
  }

  &__slider  &__pagination {
    position: static;
    padding-top: 47px;
    justify-content: space-between;
    gap: normal;
    width: 100%;

    @include abstracts.cq-from(medium) {
      justify-content: center;
      gap: 40px;
    }
  }
}
