@use '../../abstracts';

$transition-duration: 0.3s;

.shop-item-details {
  &__columns {
    display: grid;
    justify-items: center;
    gap: 60px;

    @include abstracts.cq-from(medium) {
      margin-bottom: 55px;
      grid-template-columns: auto 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  &__product-title {
    color: var(--brand-color-shadow);
  }

  &__row {
    display: flex;
    gap: 4px;
  }

  &__product-reviews-count {
    text-decoration: underline;
  }

  &__price {
    display: flex;
    gap: 4px;
 }

  &__old-price {
    text-decoration: line-through;
    color: var(--neutral-color-medium);
 }

  &__current-price {
    color: var(--brand-color-accent)
  }

  &__meta-item-term {
    margin-bottom: 11px;
    text-transform: uppercase;
  }

  &__controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px 10px;
    margin-bottom: 20px;

    @include abstracts.cq-from(large) {
      flex-direction: row;
    }
  }

  &__controls &__meta-item-term {
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: stretch;
    margin-bottom: 0;
  }

  &__buy-button {
    flex-grow: 1;
    align-self: stretch;
  }

  &__secondary-meta-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-block: 30px;
    border-top: 1px solid var(--brand-color-secondary-dim);
  }

  &__secondary-meta-list &__meta-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__secondary-meta-list &__meta-item-term {
    margin-bottom: 0;
  }

  &__image-viewer {
    height: 100%;
  }
}
