@use '../../abstracts';

$transition-duration: 0.3s;

.tabs {
  position: relative;

  &__triggers-decor-element {
    display: none;
    width: 50px;
    height: 2px;
    background-color: var(--brand-color-shadow);

    @include abstracts.cq-from(medium) {
      display: block;
    }
  }

  &__headline {
    position: relative;
    color: var(--neutral-color-dark);
  }

  &__triggers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 60px;

    @include abstracts.cq-from(medium) {
      flex-direction: row;
    }
  }

  &__props-item {
    display: grid;
    gap:12px;
    grid-template-columns: auto 1fr;
    padding-block: 8px;
  }

  &__term {
    color: var(--brand-color-shadow);
    text-transform: uppercase;
  }

  &__props-description {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr auto;
    align-items: center;

    &::before {
      display: block;
      content: "";
      height: 1px;
      background-color: var(--brand-color-secondary-dim);
    }
  }

  &__item-trigger {
    position: relative;
    width: max-content;
    padding-block: 8px;
    background-color: transparent;
    cursor: pointer;

    &--active {
      position: relative;
      color: var(--brand-color-shadow);
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 50px;
      height: 2px;
      background-color: var(--brand-color-shadow);
      transform: scaleX(0);
      transform-origin: left;
      transition-property: transform;
      transition-duration: $transition-duration;

      @include abstracts.cq-from(medium) {
        display: none;
      }
    }

    &:hover {
      color: var(--brand-color-shadow);

      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__item-content {
    padding-block: 22px 16px;
    display: none;

    &--active {
      display: block;
    }
  }
}