.user-review {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 8px 28px;
  padding: 40px 0 25px;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--brand-color-secondary-dim);
  }

  &__avatar {
    width: 80px;
    height: 80px;
    margin-top: 0.5em;
    border-radius: 50%;
    grid-row: 1 / -1;
    align-self: start;
  }

  &__rating {
    width: max-content;
  }
}