@use '../../abstracts';

.navbar {
  position: relative;
  z-index: 0;
  display: flex;
  gap: 50px;
  color: var(--brand-color-primary);
  height: 100%;

  @include abstracts.mq-from(extra-large) {
    color: var(--brand-color-shadow);
  }

  &__burger-menu {
    @include abstracts.mq-from(extra-large) {
      display: none;
    }
  }

  &__logo-wrapper {
    width: 113px;
    height: 71px;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 15;
    flex-basis: 1%;
    flex-wrap: wrap;
    margin-left: auto;
    gap: 30px;
    padding-block: 12px;
  }

  &__site {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 85;
    gap: 30px;
    flex-basis: 1%;

    @include abstracts.mq-from(extra-large) {
      position: static;
    }
  }
}

$z-index: 10;

.navbar-search-box {
  &__content {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: $z-index;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 15px 25px 25px;
    background-color: var(--brand-color-shadow);
    visibility: hidden;

    @include abstracts.mq-from(extra-large) {
      inset: 0;
      width: auto;
      padding: 30px 0;
      background-color: var(--brand-color-primary);
    }
  }

  &__submit-button {
    position: absolute;
    right: 25px;

    @include abstracts.mq-from(extra-large) {
      display: none;
    }
  }

  &__toggler {
    width: 24px;
    height: 24px;
    position: relative;

    .cross-icon {
      scale: 0;
      opacity: 0;
    }

    .search-icon {
      scale: 1;
      opacity: 1;
    }

    svg {
      position: absolute;
      transition: 0.3s ease;
      transition-property: scale, opacity;
    }
  }

  &--open &__toggler {
    .cross-icon {
      scale: 1;
      opacity: 1;
    }

    .search-icon {
      scale: 0;
      opacity: 0;
    }
  }

  &--open &__content {
    display: flex;
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    z-index: $z-index - 1;
  }

  &__search-field {
    flex-grow: 1;
    height: 56px;
    max-width: 570px;
    color: var(--brand-color-primary);

    @include abstracts.mq-from(extra-large) {
      color: var(--brand-color-shadow);
      border-bottom: none;
    }
  }

  &__content-close-button {
    visibility:hidden;
    position: absolute;
    right: 30px;
    z-index: $z-index;
  }
}
