@use '../../abstracts';

.page-header {
  padding-block: 90px;
  background-color: var(--brand-color-secondary-rich);
  text-align: center;
  color: var(--brand-color-primary);

  @include abstracts.cq-from(extra-large) {
    padding-block: 140px;
  }

  &__title {
    margin-bottom: 13px;
  }

  &__breadcrumbs {
    display: inline-flex;
    justify-content: center;
    gap: 8px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    & > span {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__breadcrumb-segment {
    &--current {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  &__breadcrumbs-divider {
    transform: rotate(-90deg);
  }
}